asgiref==3.11.1
blinker==1.9.0
certifi==2026.2.25
click==8.3.0
colorama==0.4.6
distlib==0.4.0
Django==6.0.4
filelock==3.25.2
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==26.0
pipenv==2026.5.2
platformdirs==4.9.4
python-discovery==1.2.2
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2026.1
virtualenv==21.2.0
Werkzeug==3.1.3
