{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'styledashboard.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
        <div class="Website-title">
            <h2>SkillStream</h2>
        </div>
        <div class="dashboard-hrefs">
            <a href="#">Home</a>
            <a href="#">Courses</a>
            <a href="#">Feedback</a>
        </div>
            <a href="#"><img src="{% static 'images/Profile.png' %}" class="profile" alt="Profile Icon"></a>
        </nav>
    </header>
    <main>
        <div class="dashboard-container">
            <h1>Welcome Back {{ request.user.username }}!</h1>
            <h2>SkillStream</h2>
            <h2>Your Path to Brilliance</h2>
            <h4>SkillStream Helps you Study More Efficiently and Effectively</h4>
        </div>
        <div class="dashboard-opinions">
            <img src="{% static 'images/Book.png' %}" alt="Person With Book Image" style="width: 100px; height: 100px;">
            <p>"My grades have went up significantly ever since i started using SkillStream,
            and the quizzes they give you are nicely made."</p>
            <p>"SkillStream is an amazing platform that has greatly enhanced my learning experience,
            and i would recommend it to my friends!"
            </p>
            <p><h4>Ben</h4> - Happy User of SkillStream</p>
        </div>
    </main>
</body>
</html>