{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'styledashboard.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
        <div class="Website-title">
            <h2>SkillStream</h2>
        </div>
        <div class="dashboard-hrefs">
            <a href="{% url 'dashboard' %}">Home</a>
            <a href="{% url 'courses' %}">Courses</a>
            <a href="{% url 'feedback' %}">Feedback</a>
        </div>
            <a href="{% url 'user_profile' %}"><img src="{% static 'images/Profile.png' %}" class="profile" alt="Profile Icon"></a>
        </nav>
    </header>
    <main>
        <div class="dashboard-container">
            <h1>Welcome Back {{ request.user.username }}!</h1>
            <h2>SkillStream</h2>
            <h2>Your Path to Brilliance</h2>
            <h4>SkillStream Helps you Study More Efficiently and Effectively</h4>
        </div>
        <div class="dashboard-opinions">
            <img src="{% static 'images/Book.png' %}" class="book" alt="Person With Book Image">
            <div class="opinion-text">
            <p>"My grades have went up significantly ever since i started using SkillStream,
            and the quizzes they give you are nicely made."</p>
            <p>"SkillStream is an amazing platform that has greatly enhanced my learning experience,
            and i would recommend it to my friends!"
            </p>
            <p><strong>Ben</strong> - Happy User of SkillStream</p>
            </div>
        </div>
    </main>
</body>
</html>