{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="{% static 'stylefeedback.css' %}">
</head>
<body>

    <header class="header">
        <a href="{% url 'dashboard' %}"><button class="back-button">Back</button></a>
        <h1>Feedback</h1>
    </header>

    <div class="contact-container">
        <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
            <div class="contact-left-title">
                <h2>Give Us Feedback</h2>
                <hr>
            </div>
            <input type="hidden" name="access_key" value="abeb6a35-7835-4a91-9ea6-526444c0c028">
            <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
            <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
            <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
            <button type="submit">Submit <img src="{% static 'images/arrow_icon.png' %}" alt="arrow icon"></button>
        </form>
        <div class="contact-right">
            <img src="{% static 'images/right_img.png' %}" alt="Contact Image">
        </div>
    </div>
</body>
</html>