{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'styleprofile.css' %}">
</head>
<body>

    <div class="container">
    
        <header class="header">
            <a href="{% url 'dashboard' %}"><button class="back-button">Back</button></a>
            <h1>Profile</h1>
        </header>

        <div class="card profile-card">
            <div class="profile-header">
                <div class="avatar">
                    <img src="{% static 'images/Profile.png' %}" id="profile-image" alt="Profile Avatar">
                </div>
                <button class="change-profile-button" id="upload-button">Change profile</button>
                <input type="file" id="file-input" accept="image/*" style="display: none;">
            </div>
            <div class="profile-info">
                <h2>{{ request.user.username }}</h2>
                <p class="role">
                 {% if request.user.is_superuser %}
                      Administrator
                  {% else %}
                       Student
                   {% endif %}</p>
                <p>User since: {{ request.user.date_joined|date:"F j, Y" }}</p>
            </div>
        </div>

        <div class="card metrics-card">
    <h2>Overall Learning Metrics</h2>
    
    {% for progress in progress_list %}
    <div class="metric-row">
        <span class="course-label">{{ progress.video.pathway.title }} - Lesson {{ progress.video.sequence_order }}</span>
        
        <div class="progress-bar">
            {% if progress.is_completed %}
                <div class="progress" style="width: 100%; background-color: #4CAF50;">100%</div>
            {% else %}
                <div class="progress" style="width: 50%; background-color: #FF9800;">50%</div>
            {% endif %}
        </div>
    </div>

    {% empty %}
    <div class="metric-row">
        <p style="color: #aaa; margin-top: 10px;">You haven't started any courses yet. Go explore!</p>
    </div>
    {% endfor %}
</div>

    <script>

    const uploadBtn = document.getElementById('upload-button');
    const fileInput = document.getElementById('file-input');
    const profileImg = document.getElementById('profile-image');

    uploadBtn.addEventListener('click', function() {
        fileInput.click();
    });

    fileInput.addEventListener('change', function() {
        const file = this.files[0];

        if (file) {
            const objectURL = URL.createObjectURL(file);
            
            profileImg.src = objectURL;
        }
    });
    </script>

</body>
</html>