.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.dashboard-hrefs {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 550px;
}

.dashboard-hrefs a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.dashboard-hrefs a:hover {
    background-color: #c4c4c4;
    padding: 20px 0px;
}

.profile {
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.dashboard-container {
    text-align: center;
    margin-top: 100px;
    font-family: Istok Web, sans-serif;
}

.dashboard-container h1 {
    font-size: 44px;
    margin: 70px;
}

.dashboard-container h2 {
    color: rgb(116, 18, 209);
    margin: 8px;
}

.dashboard-container h4 {
    font-weight: lighter;
    margin: auto;
}

.dashboard-opinions {
    margin: auto;
    text-align: center;
}